.home-page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Space between Mission and Facts cards */
    padding: 1.5rem; 
}

@media (min-width: 1024px) {
    .home-page-container {
        flex-direction: row;
        flex-wrap: wrap; 
        align-items: stretch;
        justify-content: center; 
    }

    .home-page-container > div { 
        flex-basis: calc(50% - 0.75rem);
    }
}